mixin resources
	meta(charset="utf-8")
	link(rel="icon",type="image/png",href="/static/favicon.ico")
	meta(name="viewport",content="width=device-width, initial-scale=1.0")
	link(rel='stylesheet',type='text/css',href='/static/css/bootstrap.min.css')
	link(rel='stylesheet',type='text/css',href='/static/css/style.css')
	script(type='text/javascript',src='/static/js/reader.js')

mixin menu_fontconfig
	.ml-auto
		span.link#btn-toggle-align(tabindex=0) Align
		|  | 
		span.link#btn-toggle-font(tabindex=1) Font