aiofiles
astroid
click
django
dnspython
eventlet
fastapi-sessions
fastapi[all]
filetype
greenlet
isort
itsdangerous
jinja2
jsonpickle
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
numpy
pandas
pillow
plotly
protobuf
pybase64
pylint
pypugjs
pyquery
python-engineio
python-multipart
python-socketio
requests
scikit-learn
scipy
six
smbus
spidev
toml
typed-ast
uvicorn[standard]
Werkzeug
wrapt
